font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

body {
    background: rgb(240, 219, 219);
    font-family: "Roboto Condensed", sans-serif;

}

li {
    list-style: none;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

#container {
    position: relative;


}

header {
    position: fixed;
    top: 0;
    height: 5pc;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    width: 90%;

}
nav {
    font-weight: 400;

}

#nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;    
    text-decoration: none;

}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    margin-top: 70px;
}


.logo >img{
    width: 50%;
    height: 50%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-left: 10px;

}
.grid {
    display: flex;
    flex-direction: row;
  }

#features {
    margin-top: 50px;
  }
  
  #features .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 20pc;
    color: rgb(240, 219, 219);
  }

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1pc;
  }

  .product {
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2pc;

    }

  .product-btn{
    background: rgb(241, 181, 70);
    width: 5pc;
    height: 2pc;
  }
  footer {
    margin-top: 30px;
    background-color: rgb(240, 219, 219);
    padding: 20px;
    width: 95%;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 10px;
    text-decoration: none;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }